<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
	<style>
		#center {
			margin: 0 auto;
			width: 600px;
		}

		div.sec {
			display: block;
			clear: both;
			padding-top: 50px;
			display: inline-block;
		}

		label {
			clear: both;
		}
	</style>
</head>
<body>

	<%= yield %>

</body>
</html>
