
	<div class="row">
		<form action="/auth/login" method="post" role="form" class="form-horizontal">
			<div class="form-group"><h3 class="col-sm-offset-2 col-sm-10">Zaloguj się</h3></div>
			<div class="form-group">
				<label for="title" class="control-label col-sm-2">Login:</label>
				<div class="col-sm-10">
					<input type="text" name="user[username]" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="title" class="control-label col-sm-2">Hasło:</label>
				<div class="col-sm-10">
					<input type="password" name="user[password]" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" value="Zaloguj" class="btn btn-default">Zaloguj</button>
				</div>

			</div>
		</form>
	</div>
