	<div id="center">
		<ul>
		  <% for post in @post_list %>
		    <li>
		    <%= post.title %>
		    	<a href="/posts/edit/<%= post.id %>">Edit</a>
		    	<a href="/posts/destroy/<%= post.id %>">Kill</a>
		    </li>
		  <% end %>
		</ul>
	</div>
