
	<div class="row">
		<form action="/posts/create" method="post" role="form" class="form-horizontal">
			<div class="form-group"><h3 class="col-sm-offset-2 col-sm-10">Dodaj nowy post</h3></div>
			<div class="form-group">
				<label for="title" class="control-label col-sm-2">Tytuł:</label>
				<div class="col-sm-10">
					<input type="text" name="title" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="content" class="control-label col-sm-2">Treść:</label>
				<div class="col-sm-10">
					<textarea rows="4" cols="50" name="body" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" value="Dodaj post" class="btn btn-default">Dodaj post</button>
				</div>

			</div>
		</form>
	</div>

