<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form action="/posts/create" method="post">

					<label for="title">Tytuł:</label><br>
					<input type="text" name="title">

					<label for="content">Treść:</label><br>
					<textarea rows="4" cols="50" name="body">yo...</textarea>

					<input type="submit" class="btn btn-success">
					
			</form>
		</div>
	</div>
</div>
